span{
    background-color: yellow;
    width: 100px;
    height: 200px;
}

strong{
    background-color: blue;
    color: white;
}

em{
    background-color: red;
}

a{
    background-color: green;
    color: white;
}

div.red{
    display: inline;
    background-color: red;
    width: 100px;
    height: 100px;
}

div.green{
    display: inline;
    background-color: green;
    width: 100px;
    height: 100px;
}
div.yellow{
    display: inline;
    background-color: yellow;
    width: 100px;
    height: 100px;
}

div.blue{
    background-color: blue;
}

div.violet{
    background-color: blue;
}

div.brown{
    background-color: brown;
}
.inline-block{
    display:inline-block;
    width: 50px;
    height:50px;
    margin-left: 5px;
}
.pusty{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: aqua;
}