body {
    background-color: #e6e6e6;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    border: 2px solid gray;
    text-align: center;
}

.box {
    width: 250px;
    height: 250px;
    background-color: #dedcc5;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}